/* Google Poppins Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
/* Roboto Font-Course */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

/* Nav Manu */

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 94px;
    background-color: #562EFF;
    padding-left: 286px;
    padding-right: 288px;
}
#logo-text{
    font-size: 24px;
}
nav a{
    text-decoration: none;
    font-size: 16px;
    color: #ffffff;
    margin: 0px 8px;
    
}
#logo-img{
    width: 40.42px;
    height: 51px;
}
#profile-img{
    width: 51px;
    height: 51px;
}

/* Common style or Utilities */

body{
    font-family: 'Poppins', sans-serif;
    margin: 0px;
    background-color: #F3F1FF;
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container{
    width: 870px;
    /* height: 679px; */
    margin: 30px 0 30px 0;
    padding: 33px;
    background-color: #ffffff;
    border-radius: 5px;
}
.players{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 30px;
}
.section-title{
    color: #562EFF;
    margin-top: -4px;  
}
.player{
    display: flex;
    align-items: center;
}
.player img{
    width: 56px;
    height: 56px;
}
.player-name{
    padding-left: 16px;
    font-size: 18px;
    margin-top: px;
}
hr{
    border: 1px solid #D1D1D1;
    margin: 30px;
}

/* Top blogs */

.blogs{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 26px;
}
.blog{
    display: flex;
}
.thumbnile img{
    width: 177px;
    height: 117px;
}
.blog-info{
    padding-left: 16px;
    margin-top: -10px;
}
.by-color{
    color: #9F9F9F;
}
.authore-name-color{
    color: #562EFF;
}

/* Lates Course */

.container-second{
    width: 870px;
    /* height: 362px; */
    margin: 0px 0 30px 0;
    padding: 33px;
    background-color: #ffffff;
    border-radius: 5px;
}
.courses{
    /* display: flex; */
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 24px;
}
.course{
    width: 246.42px;
    height: 269.79px;
    background-color: #ffffff;
    filter: drop-shadow(0px 5.34229px 13.3557px rgba(0, 0, 0, 0.09));
    border-radius: 20px;
    padding: 14px;
}
.course-details{
    margin: 14px;
}
.course-thumbnile img{
    /* width: 224PX;
    height: 104px; */
    width: 100%;
    height: 100%;
}
.course-titile{
    font-family: 'Roboto', sans-serif;
    margin: 15.23px 0 -4px 0px;
}
.course-author{
    font-size: 14.69px;
    color: #ED6B4F;
}
.course-info{
    display: flex;
    justify-content: space-between;
}
.fa-star.filed{
    color: #FFC014;
    font-size: 12.39px;
}
.fa-star.empty{
    color: #AEAEAE;
    font-size: 12.39px;
}
.star-point{
    color: #A2A2A2;
    font-size: 14.69px;
}
.course-duration{
    background: #FFE4E8;
    border-radius: 14.6913px;
    color: #FF4A60;
    padding: 0px 7px 0px 7px;
}
.fa-clock{
    width: 20.03px;
}
#hour-size{
    font-size: 14.69px;
}
/* .course-first{
    margin: 0px 23px 0px 0
}
.course-second{
    margin: 0px 23px 0px 0 
} */

/* Media Query */

/* mobile devices */

@media only screen and (max-width: 688px) {
    .container, .container-second{
        width: 100%;
    }
.players, .blogs, .courses{
    grid-template-columns: repeat(1, 1fr);
}
.player, .blog{
    flex-direction: column;
}
}

/* tabtel devices */

@media only screen and (min-width: 688px) and (max-width: 992px) {
    .container, .container-second{
        width: 100%;
    }
    .players, .courses{
        grid-template-columns: repeat(2, 1fr);
    }
    .blogs {
        grid-template-columns: repeat(1, 1fr);
        flex-direction: column;
    }
    .player, .course {
        flex-direction: row;
    }
}